{% extends "Home/base.html" %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Teacher Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">Teachers</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="{% url 'edit_teacher' teacher.slug %}" class="btn btn-primary"><i class="fas fa-pen"></i> Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>About Teacher: {{ teacher.first_name }} {{ teacher.last_name }}</h4>
                            <div class="media mt-3">
                                <img src="{% if teacher.teacher_image %}{{ teacher.teacher_image.url }}{% else %}{% static 'assets/img/profiles/avatar-02.jpg' %}{% endif %}" 
                                     class="mr-3 rounded-circle" 
                                     alt="Teacher Image"
                                     style="width: 100px; height: 100px; object-fit: cover;">
                                
                                <div class="media-body">
                                    <h5 class="mt-0">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                                    <p class="text-muted">{{ teacher.department }}</p>
                                    
                                    <ul class="list-unstyled mt-3">
                                        <li>
                                            <span class="title-span">Teacher ID : </span>
                                            <span class="info-span">{{ teacher.teacher_id }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Mobile : </span>
                                            <span class="info-span">{{ teacher.mobile_number }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Email : </span>
                                            <span class="info-span">{{ teacher.email }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Gender : </span>
                                            <span class="info-span">{{ teacher.gender }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">DOB : </span>
                                            <span class="info-span">{{ teacher.date_of_birth|date:"d M Y" }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Qualification : </span>
                                            <span class="info-span">{{ teacher.qualification }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Joining Date : </span>
                                            <span class="info-span">{{ teacher.joining_date|date:"d M Y" }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <hr>
                            
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <h5>Current Address</h5>
                                    <p>{{ teacher.address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Employment History</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">No detailed employment history available.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}